/* General */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --wite-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --button-color: #f5f4fa;
  --section-padding: 94px;
  --icon-network-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--wite-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

  /* outline: 2px solid red; */
}

.container {
  display: flex;
  align-items: center;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.header .section {
  margin-bottom: 0;
}

/* HEADER */
.header a.curent {
  color: var(--accent-color);
}

.header .section > nav.nav > .logo {
  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  /* outline: 2px solid green; */
}

.logo-span {
  color: var(--accent-color);
}

.header .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts .link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.icon-envelope {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: var(--primary-text-color);
}

.icon-smartphone {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: var(--primary-text-color);
}

.menue-link:hover .icon-envelope,
.menue-link:hover .icon-smartphone,
.menue-link:hover .link {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.link-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 93px;

  /* outline: 2px solid green; */
}

.contacts {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  /* outline: 2px solid green; */
}

.nav {
  display: flex;
  align-items: center;
}

.menue-link {
  margin-right: 50px;
  height: 16px;
}

.menue-link:last-child {
  margin: 0;
}

.header .section {
  padding-top: 32px;
  padding-bottom: 32px;
}

header {
  border-bottom: 1px solid #c4c4c4;
}

/* HERO */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.hero-title {
  color: var(--wite-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
}

.button {
  display: block;

  margin-top: 32px;
  margin-right: auto;
  margin-left: auto;

  border: 0px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
}

/* .hero-button {
  padding-bottom: 200px;
} */

/* Main */

.title {
  color: var(--title-text-color);
}

/* DESCRIPTION */
.description .title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description .text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.skills {
  margin-right: 30px;
  align-items: center;
  width: 270px;

  /* outline: 2px solid green; */
}

.icon-box {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: var(--button-color);

  /* outline: 1px solid red; */
}

.icon-skill {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 70px;
  height: 70px;
}

.skills:last-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 0;
}

.skills:first-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  margin-left: auto;
}

/* WHAT WE DO */
.what-we-do {
  padding-top: 0;
  flex-direction: column;
  align-items: center;
}

.section > .second-title {
  margin-bottom: 50px;
  margin-top: 0;

  /* outline: 2px solid green; */
}

.demo-box {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

.demo-list {
  margin-right: 30px;

  /* outline: 2px solid green; */
}

.demo-list:last-child {
  margin-right: 0;
}

.img-demo {
  display: block;
}

/* OUR TEAM */

.second-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
}

.team-box {
  margin: 0;
  display: flex;
  padding: 0;
}

.team {
  background-color: var(--button-color);
}

.team > .section {
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-right: 30px;
  border-radius: 4px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  /* outline: 2px solid green; */
}

.team-list:last-child {
  margin: 0;
}

.team-list > p {
  margin-top: 0;
  margin-bottom: 30px;
}

.team-list > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.network-box {
  margin-bottom: 30px;
  padding: 0;
  display: flex;
}

.network-list {
  margin-right: 10px;

  width: 44px;
  height: 44px;
}

.icon-network {
  width: 20px;
  height: 20px;
  fill: var(--icon-network-color);
}

.network-list:last-child {
  margin: 0;
}

.network-list:hover {
  background-color: var(--accent-color);
  border-radius: 50%;
}

.network-list:hover .icon-network {
  fill: var(--wite-color);
}

.network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* CLIENTS */

.clients .client-box {
  display: flex;
}

.clients > .title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.client-list {
  margin-right: 30px;

  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-network-color);
  border-radius: 4px;
}

.client-list:last-child {
  margin: 0;
}

.client-list:hover,
.client-list:hover .client-icon {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  /* outline: 5px solid green; */
}

.client-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-network-color);
}

/* FOOTER */
.footer-section {
  background-color: var(--background-color);
}

.footer-box {
  /* flex-direction: column; */

  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section .link {
  font-family: Roboto, sans-serif;
  color: var(--wite-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: var(--wite-color);
}

.footer-section .footer-contacts {
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
}

.address {
  margin-top: 20px;
  /* outline: 2px solid greenyellow; */
}

.address ul {
  padding: 0;
  margin: 0;
}

.logo-address {
  margin-right: 70px;
}

.invite .title {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--wite-color);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.invite .network-list {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.invite .network-list:hover {
  background-color: var(--accent-color);
}
.invite .network-list .icon-network {
  fill: var(--wite-color);
}

/* PORTFOLIO */

.radio-button {
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
}

.poster-text {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 24px;
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  /* outline: 2px solid green; */
}

.portfolio-text {
  margin: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  /* outline: 2px solid green; */
}

.button-set {
  margin-bottom: 50px;
  padding-bottom: 0;
  justify-content: center;
}

.button-list {
  margin-right: 8px;
}

.button-list:last-child {
  margin-right: 0;
}

.exempls {
  flex-wrap: wrap;
  padding-top: 0;

  width: 1208px;
}

.exemples-list {
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.exemples-list:hover {
  box-shadow: 1px 4px 6px rgba(61, 20, 20, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.exemples-list:nth-child(3n) {
  margin-right: 0;
}

.exemples-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio img {
  display: block;

  /* outline: 2px solid green; */
}
