/* General */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --wite-color: #ffffff;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --button-color: #f5f4fa;
  --section-margin: 94px;
  --icon-stand-color: #afb1b8;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--wite-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  display: flex;
  width: 1200px;
  margin-top: 0;
  /* margin-bottom: var(--section-margin); */
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  /* outline: 2px solid red; */
}

.header .section {
  margin-bottom: 0;
}

/* HEADER */
.header a.curent {
  color: var(--accent-color);
}

.header .section > nav.nav > .logo {
  /* display: inline-block; */

  font-family: Raleway, sans-serif;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  /* outline: 2px solid green; */
}

.logo-span {
  color: var(--accent-color);
}

.header .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.contacts .link {
  color: var(--primary-text-color);
  letter-spacing: 0.02em;
}

.link {
  display: flex;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.14;
}

a.link:hover,
a.link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.link-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 93px;

  /* outline: 2px solid green; */
}

.contacts {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;

  /* outline: 2px solid green; */
}

.icon-envelope {
  fill: inherit;
  margin-right: 10px;
  width: 16px;
  height: 12px;
}

.icon-smartphone {
  fill: inherit;
  margin-right: 10px;
  width: 10px;
  height: 16px;
}

.nav {
  display: flex;
}

.menue-link {
  margin-right: 50px;
}

.menue-link:last-child {
  margin: 0;
}

.header .section {
  padding-top: 32px;
  padding-bottom: 32px;
}

header {
  border-bottom: 1px solid #c4c4c4;
}

/* HERO */
.hero-section {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: var(--section-margin);
  margin-right: auto;
  margin-left: auto;

  text-align: center;

  /* outline: 2px solid red; */
}

.hero {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../images/hero-bg.jpg);

  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin: 0;
  padding-top: 200px;

  color: var(--wite-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button {
  margin-top: 32px;
  border: 0px;
  padding: 10px 32px;
  border-radius: 4px;

  color: var(--wite-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
}

.hero-button {
  padding-bottom: 200px;
}

/* Main */

.title {
  margin-top: 0;
  margin-bottom: 10pxs;
  color: var(--title-text-color);
}

/* DESCRIPTION */
.description {
  margin-bottom: var(--section-margin);
}

.description .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description .text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.skills {
  margin-right: 30px;
  align-items: center;
  width: 270px;

  /* outline: 2px solid green; */
}

.skills:last-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 0;
}

.skills:first-child {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  margin-left: auto;
}

.icon-decription {
  min-width: 100%;
  width: 70px;
  height: 70px;
  fill: var(--title-text-color);

  /* outline: 2px solid red; */
}

.icon-area {
  display: inline-flex;
  align-items: center;
  margin-bottom: 30px;
  min-width: 100%;
  height: 120px;
  background-color: var(--button-color);
  border-radius: 4px;
}

/* WHAT WE DO */
.what-we-do {
  margin-bottom: var(--section-margin);
  flex-direction: column;
  align-items: center;
}

.section > .second-title {
  margin-top: 0;
  margin-bottom: 50px;

  /* outline: 2px solid green; */
}

.demo-box {
  display: flex;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.demo-list {
  margin-right: 30px;

  /* outline: 2px solid green; */
}

.demo-list:last-child {
  margin-right: 0;
}

.img-demo {
  display: block;
}

/* OUR TEAM */

.second-title {
  margin: var(--section-margin) 0 0 0;
  /* padding-top: var(--section-margin); */

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.team .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team .text {
  font-size: 16px;
  line-height: 1.19;
}

.team-box {
  display: flex;
  padding: 0;
}

.team {
  margin-bottom: var(--section-margin);
  background-color: var(--button-color);

  outline: 1px solid red;
}

.team > .section {
  margin-bottom: 0;
  flex-direction: column;
  align-items: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin-right: 30px;

  /* outline: 2px solid green; */
}

.team-list:last-child {
  margin: 0;
}

.team-list > p {
  margin-top: 0;
  margin-bottom: 30px;
}

.team-list > h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.icon-stand {
  width: 20px;
  height: 20px;
  fill: var(--icon-stand-color);
}

.icon-stand:last-child {
  margin: 0;
}

.network {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  margin-right: 10px;

  width: 40px;
  height: 40px;

  outline: 1px solid red;
}

.network:last-child {
  margin: 0;
}

.team-stand {
  box-shadow: ;
}

/* FOOTER */
.footer-section {
  flex-direction: column;
  background-color: var(--background-color);
}

.footer-section .link {
  font-family: Roboto, sans-serif;
  color: var(--wite-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: var(--wite-color);
}

.footer-section .footer-contacts {
  margin-top: 9px;

  color: rgba(255, 255, 255, 0.6);
}

.address {
  margin-top: 20px;

  /* outline: 2px solid greenyellow; */
}

.address ul {
  padding: 0;
  margin: 0;
}

.footer-padding {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* PORTFOLIO */

.radio-button {
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;

  color: var(--title-text-color);
  background-color: var(--button-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  font-family: inherit;
}

.radio-button:hover,
.radio-button:focus {
  color: var(--wite-color);
  background-color: var(--accent-color);
}

.portfolio-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  /* outline: 2px solid green; */
}

.portfolio-text {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  /* outline: 2px solid green; */
}

.button-set {
  margin-top: var(--section-margin);
  margin-bottom: 50px;
  justify-content: center;
}

.button-list {
  margin-right: 8px;
}

.button-list:last-child {
  margin-right: 0;
}

.exempls {
  flex-wrap: wrap;
}

.exemples-list {
  margin-right: 30px;
  margin-bottom: 30px;
}

.exemples-list:nth-child(3n) {
  margin-right: 0;
}

.exemples-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio img {
  display: block;

  /* outline: 2px solid green; */
}

.poster-text {
  padding: 20px 24px;

  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
